.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.comments-feed {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.header {
  display: flex;
}
.profile {
  padding: 15px 22px 15px 22px;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
}
.desc {
  margin-top: 5px;
  color: #334155;
  font-size: 25px;
  margin-right: 20px;
}
.time {
  margin-top: 10px;
  font-size: 15px;
  color: #94a3b8;
}
.comment {
  color: #64748b;
  margin-top: 0px;
  margin-left: 80px;
}
.comment-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.feedback {
  display: flex;
  color: #7e858e;
}
.icon {
  width: 20px;
  height: 20px;
}
.like-desc {
  font-size: 15px;
  margin-left: 10px;
}
.icon-button {
  background-color: transparent;
  color: #7e858e;
  border: 0px;
}
.active {
  color: #0ea5e9;
}
.comment-line {
  background-color: #7e858e;
  width: 100%;
}
